language: php

php:
  - 7.0

before_script:
  - cp .env.travis .env
  - touch ntut_magazine.sqlite
  - mysql -e 'create database homestead_test;'
  - composer self-update
  - composer install --no-interaction
  - php artisan migrate

script:
  - vendor/bin/phpunit
  - vendor/capslock-studio/node-deploy-server-php-pusher/deploy-pusher